<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Informace o aplikaci</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">InfoPage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info-container">
    <h2>Vítejte v naší studenské aplikaci o počasí!</h2>
    <p>Tato aplikace je stále ve vývoji, ale už je schopna přinášet aktuální informace o počasí pro vybrané město.</p>
    <p>Pro návrat na hlavní obrazovku použijte tlačítko zpět v levém horním rohu.</p>
    

    <h3>O autorovi</h3>
    <p>Jsem student univerzity a tato aplikace je výsledkem mého projektu zaměřeného na sledování počasí. Doufám, že vám poskytuje užitečné informace o aktuálním stavu počasí ve vašem oblíbeném městě.</p>
    <p>Pokud máte nějaké otázky nebo připomínky, neváhejte mě kontaktovat.</p>
    <p>&copy; 2023 Lukáš Darebníček</p>
  </div>
</ion-content>
