
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Weather Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{ 'dark-mode': darkMode, 'light-mode': !darkMode }" class="ion-padding">
  <!-- style="--ion-background-color: #000000 !important;">-->
  <div style="text-align: center; margin: 15px;">
    <!--<ion-label style="font-weight: 400; font-size: 1.5em;">Weather Forecast</ion-label>-->
  </div>

  <ion-searchbar
    [(ngModel)]="cityName"
    (ionChange)="onCityChange($event)"
    (keyup.enter)="loadData()"
    placeholder="Search for city"
    class="searchbar"
    animated
  >
  </ion-searchbar>

  <!-- Toggle button for history menu -->
  <ion-button (click)="toggleHistory()" class="toggleHistoryButton">
    {{ showHistory ? 'Hide History' : 'Show History' }}
  </ion-button>

  <!-- Toggle button for dark mode -->
  <ion-button (click)="toggleDarkMode()" class="toggleDarkModeButton">
    {{ darkMode ? 'Light Mode' : 'Dark Mode' }}
  </ion-button>

  <!-- Toggle button for info page -->
  <ion-button (click)="navigateToInfoPage()" class="toggleHistoryButton">
    Info o aplikaci
  </ion-button>

  <ion-list *ngIf="showHistory && savedCities.length > 0">
    <ion-item *ngFor="let city of savedCities.slice().reverse()" (click)="selectCity(city)">
      {{ city }}
    </ion-item>
  </ion-list>

  <div *ngIf="!loading">
    <ion-card class="cardSytle" *ngIf="weatherTemp">
      <ion-item lines="none">
        <p style="color: white; font-size: 1.5em;">Dnešní hlášení</p>
        <ion-label id="date" slot="end">{{ todayDate | date: 'EEE dd MM' }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="weatherTemp.main">
        <span id="temp">
          {{ (weatherTemp.main.temp - 273.15).toFixed(0) }}
        </span>
        <span style="font-size: 1.3em; font-weight: bold;"> °C</span>
        <img slot="end" [src]="weatherIcon">
      </ion-item>

      <ion-item>
        <ion-icon id="locationIcon" name="location"></ion-icon>
        <span>{{ cityName }}</span>
      </ion-item>
    </ion-card>

    <ion-card class="cardSytle" *ngIf="weatherTemp">
      <ion-item>
        <span>Pocitová teplota</span>
        <span slot="end">{{ (weatherTemp.main.feels_like - 273.15).toFixed(0) }} °C</span>
      </ion-item>

      <ion-item>
        <span>Maximální teplota dne</span>
        <span slot="end">{{ (weatherTemp.main.temp_max - 273.15).toFixed(0) }} °C</span>
      </ion-item>

      <ion-item>
        <span>Minimální teplota dne</span>
        <span slot="end">{{ (weatherTemp.main.temp_min - 273.15).toFixed(0) }} °C</span>
      </ion-item>

      <ion-item>
        <span>Vlhkost vzduchu</span>
        <span slot="end">{{ weatherTemp.main.humidity }} %</span>
      </ion-item>

      <ion-item>
        <span>Tlak vzduchu</span>
        <span slot="end">{{ weatherTemp.main.pressure }} hPa</span>
      </ion-item>
    </ion-card>

    <!-- Rollovací menu -->
    <ion-card class="cardSytle" *ngIf="weatherTemp">
      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <span class="spanStyle">Doplňující informace</span>
          </ion-item-divider>

          <ion-item>
            <span>Země:</span>
            <span slot="end">{{ weatherTemp.sys.country }}</span>
          </ion-item>

          <ion-item>
            <span>Západ slunce:</span>
            <span slot="end">{{ formatTime(weatherTemp.sys.sunset) }}</span>
          </ion-item>

          <ion-item>
            <span>Východ slunce:</span>
            <span slot="end">{{ formatTime(weatherTemp.sys.sunrise) }}</span>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card>
  </div>

  <!-- Tlačítko pro navigaci na novou stránku na středu spodní části obrazovky 
  <div style="position: fixed; bottom: 0; width: 100%; display: flex; justify-content: center;">
    <ion-card class="cardSytle">
      <ion-button (click)="navigateToInfoPage()">Info o aplikaci</ion-button>
    </ion-card>
  </div>-->

  <div *ngIf="loading" class="NoData">
    <span>Zatím jsme nenačetli žádná data, prosím, zadej do vyhledávání nějaké město.</span>
  </div>
</ion-content>
